# Logs
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# ESLint
.eslintcache
.jshintrc

# Babel
.babelrc

# Secrets
.env

# Nuxt.js
.nuxt

# IDE
.idea

# Service worker
sw.*
.eslintrc.js
.eslintc
